<nav>
  <div>
    <a
      href="/"
      style="text-decoration: none; padding:1rem; margin:2rem;color:rgb(0, 0, 0); font-size:2rem "
    >API RESTful</a>
    <div>
      <ul style="display: flex; list-style: none; justify-content:center;">
        <li>
          <a
            href="/api/productos/list"
            style="text-decoration: none; padding:1rem; margin:2rem;color:white; background:rgb(0, 0, 0);"
          >List</a>
        </li>
        <li>
          <a
            href="/api/productos/create"
            style="text-decoration: none; padding:1rem; margin:2rem;color:white; background:rgb(0, 0, 0);"
          >Create</a>
        </li>
      </ul>
    </div>
  </div>
</nav>