body.bg-success
main
  .d-flex.justify-content-evenly.mt-5.mb-5.bg-danger.align-items-center
  h2.text-light ERROR
  h3.text-light Credenciales invalidas
  .col-1
    a.btn.btn-outline-warning(href='/') VOLVER
